.questionerMessage {
  align-self: flex-end;
  background-color: #D5001C; // Light green background for the questioner
  padding: 16px;
  margin: 10px;
  max-width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 700;
  border-top-left-radius: 10px; /* 左上圆角 */
  border-bottom-left-radius: 10px; /* 左下圆角 */
  border-top-right-radius: 10px; /* 右上圆角 */
}
.responderMessage {
  align-self: flex-start;
  background-color: rgba(255,255,255,0.08); // White background for the responder
  padding: 16px;
  margin: 10px;
  max-width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px; /* 左下圆角 */
  border-top-right-radius: 10px; /* 右上圆角 */
  border-bottom-right-radius: 10px; /* 左上圆角 */
  font-size: 16px;
  font-weight: 700;
}
.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 634px;
  overflow: scroll;
}
.responderContainer{
  display: flex;
  align-items: center;
  & img{
    width: 32px;
    height: 32px;
  }
}

.loading-responder{
  display: flex;
  flex-direction: column;
  align-items: center;
  .loading{
    width: 110px !important;
    height: 38px !important;
  }
}